<div class="container">  
    <form class="border border-dark p-4 rounded-3">
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light text-dark">
                <span class="fs-3"> Login </span>
            </div>
        </div>
        <!-- username input -->
        <div class="row mb-3 ps-4">
        <label class="form-label" for="username">Username :</label>
          <input type="username" id="username" class="form-control" />
         
        </div>
      
        <!-- Password input -->
        <div class="row mb-3 ps-4">
          <label class="form-label" for="password">Password :</label>
          <input type="password" id="password" class="form-control" />
         
        </div><br>
    
       
        <!-- Submit button -->
        <div class="row">
          <div class="col-6 offset-3">
          <div class="d-grid">
              <button type="submit"class="btn btn-primary"> Sign in </button>             
          </div>
          </div>
       </div>
       <br>
       <br>
       <div class="row">
        <p>Not Registered yet? Create an Account <a href="/register">here</a>.</p>
      </div>     
      </form>
    </div>